/* Common */


body{

    background-color: #b9b7b7;
    margin: 10px auto;
   
}

/* Navigation */

header{

    background-color: rgba(12,23,11,0.3);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    
}


@media (any-hover: hover) {

    nav > ul > li > a:hover {

      color: black;
    }
  }

nav > ul > li{

    display: inline-block;
    padding: 10px 10px;
    font-size: 20px;
    
}

nav > ul > li > a{
    text-decoration: none;
    color: white;
    
}

.footer{

    text-align: center;
}

.footer > p{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Index */

.main{

   
    display: flex;
    padding: 25px;
    margin: 100px 100px;
    border-bottom: 2px solid black;
}

.logo > img{

    height: 400px;
    width: 400px;
    border-radius: 50%;
    flex: 1;
   
}

.description{

    flex: 4;
    margin: 50px 50px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.description > h1{

    font-weight: bold;
}

.body{

    padding: 25px;
    margin: 40px 100px;
    border-bottom: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;

}

.body > h3 {

    font-weight: bold;
    

}

.body >.hobbies> ul{

    list-style-type: circle;
    
      
}

.body >.hobbies> ul> li > ul{

    list-style-type: square;

}

.body > .work > #title{

    font-weight: bold;
}


/* Gallery */


#galleryheader{

    position: relative;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    margin-top: 10%;
    margin-right: 100px;
    margin-left: 100px;

    text-transform: capitalize;
    border-bottom: 3px solid black;
}

.gallery{

    margin: 50px 70px;
    border-bottom: 3px solid black;
  
}

.row > img{
    
    height: 600px;
    width: 400px;
}
    
/* Blog */

#blogheader{

    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10%;
    margin-right: 100px;
    margin-left: 100px;
    border-bottom: 2px solid black;
}


#container{

    display: flex;
    border-bottom: 2px solid black;
    margin: 50px;
    
}

section{
    
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 30px;
    margin-top: 70px;


} 

article{
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

.title{
    font-size: 23px;
    font-weight: bold;
}

/* Contact */


.contactmain{

   
    display: flex;
    padding: 25px;
    margin: 100px 100px;
    border-bottom: 2px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contactmain > .form> #head{

    font-weight: bolder;
    font-size: 1.5em;
}


#map{

    height: 600px;
    width: 500px;
    border-radius: 2%;
}

.input{

    height: 25px;
    width: 300px;
    border-radius: 6%;
}

#combo{

    height: 25px;
    width: 70px;
}

#textarea{

    width: 400px;
    height: 200px;
    border: 1px solid black;
    border-radius: 3%;
}

#button{

    border: 2px solid black;
    border-radius: 10%;
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-size: 0.9em;
    background-color: whitesmoke;
    position: relative;
}

.map{

    margin-left: 150px;
}

/* Mywork */

.myworkbody{

    margin: 100px 100px;    
    border-bottom: 2px solid black;
}

.myworkbody > .questions{

    margin: 100px 500px;    
    
}

.myworkbody > .questions > a{

    text-transform: capitalize;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;   
    color: #334142d0;
    text-decoration: none;
    
}



