
body{

    background-color: whitesmoke;
    margin: 10px auto;
   
}

header{

    background-color: rgba(12,23,11,0.3);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    
}

.Description{

   margin: 100px 250px;

}

#Logo{
    

    width: 300px;
    height:300px;
    border-radius: 400px;
    float: left;
    
    
}

#desc{

    float: left;
}
  

#header{

    float: left;
}
  

section{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 30px;
    margin-top: 70px;

} 


article{
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

.title{
    font-size: 23px;
    font-weight: bold;
}

.date{
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
}

/* link style ..  */
nav > ul > li{

    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
    
}

nav > ul > li > a{
    text-decoration: none;
    
}

.gallery{

    margin-left: 125px;
}

.gallery > img{

    width: 30%;
    height: 500px;
    float: left;
    
}

#galleryheader{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 100px;
}

.footer{

    margin-top: 50px 500px;
}

